{% load utilities %}
{% load shelf_tags %}
{% load i18n %}

{% with next_shelf_identifier=active_shelf.shelf.identifier|next_shelf %}

{% for shelf in shelves %}
{% comparison_bool shelf.identifier active_shelf.shelf.identifier as is_current %}
    <li role="menuitem" class="dropdown-item p-0">
        <div
            class="{% if is_current or next_shelf_identifier == shelf.identifier %}is-hidden{% endif %}"
            data-shelf-dropdown-identifier="{{ shelf.identifier }}"
            data-shelf-next="{{ shelf.identifier|next_shelf }}"
        >
        {% if shelf.identifier == 'read' %}

            {% trans "Watched" as button_text %}
            {% url 'reading-status' 'finish' active_shelf.film.id as fallback_url %}
            {% join "finish_reading" button_uuid as modal_id %}
            {% include 'snippets/shelve_button/modal_button.html' with class=class fallback_url=fallback_url %}

        {% elif shelf.identifier == 'to-read' %}

            {% trans "Want to watch" as button_text %}
            {% url 'reading-status' 'want' active_shelf.film.id as fallback_url %}
            {% join "want_to_read" button_uuid as modal_id %}
            {% include 'snippets/shelve_button/modal_button.html' with class=class fallback_url=fallback_url %}

        {% endif %}
        </div>
    </li>
{% endfor %}

{% if active_shelf.shelf %}
<li role="menuitem" class="dropdown-item p-0" data-extra-options>
    <form name="unshelve-{{ uuid }}-{{ shelf.identifier }}" action="/unshelve/" method="post">
        {% csrf_token %}
        <input type="hidden" name="film" value="{{ active_shelf.film.id }}">
        <input type="hidden" name="shelf" value="{{ active_shelf.shelf.id }}">
        <button class="button is-fullwidth is-small{% if dropdown %} is-radiusless{% endif %} is-danger is-light" type="submit">
            {% blocktrans with name=active_shelf.shelf|translate_shelf_name %}Remove from {{ name }}{% endblocktrans %}
        </button>
    </form>
</li>
{% endif %}
<li role="menuitem" class="dropdown-item p-0" data-extra-options>
    <form name="block-{{ uuid }}-{{ shelf.identifier }}" action="{% url 'block-film' active_shelf.film.id %}" method="post">
        {% csrf_token %}
        <button class="button is-fullwidth is-small{% if dropdown %} is-radiusless{% endif %} is-danger is-light" type="submit">
            {% trans 'Block this film' %}
        </button>
    </form>
</li>
{% endwith %}
