{% load utilities %}
{% load shelf_tags %}

{% if request.user.is_authenticated %}

{% with film.id|uuid as uuid %}
{% active_shelf film as active_shelf %}
{% with active_shelf_film=active_shelf.film %}
<div class="field has-addons mb-0 has-text-weight-normal" data-shelve-button-film="{{ film.id }}">
    <div class="control">
        {% include 'snippets/shelve_button/shelve_button_options.html' with class="shelf-option is-small" shelves=user_shelves active_shelf=active_shelf button_uuid=uuid %}
    </div>
    {% include 'snippets/shelve_button/shelve_button_dropdown.html' with class="is-small" button_uuid=uuid%}
</div>

{% join "want_to_read" uuid as modal_id %}
{% include 'snippets/reading_modals/want_to_read_modal.html' with film=active_shelf_film id=modal_id class="" %}

{% join "finish_reading" uuid as modal_id %}
{% include 'snippets/reading_modals/finish_reading_modal.html' with film=active_shelf_film id=modal_id class="" %}

{% endwith %}
{% endwith %}
{% endif %}
