[Unit]
Description=ReelTalk worker
After=network.target postgresql.service redis.service

[Service]
User=reeltalk
Group=reeltalk
WorkingDirectory=/opt/reeltalk
ExecStart=/opt/reeltalk/venv/bin/celery -A celerytalk worker -l info -Q high_priority,medium_priority,low_priority,streams,images,suggested_users,email,lists,inbox,imports,import_triggered,broadcast,misc
StandardOutput=journal
StandardError=inherit
ProtectSystem=strict
ProtectHome=tmpfs
InaccessiblePaths=-/media -/mnt -/srv
PrivateTmp=yes
TemporaryFileSystem=/var /run /opt
PrivateUsers=true
PrivateDevices=true
BindReadOnlyPaths=/opt/reeltalk
BindPaths=/opt/reeltalk/images /opt/reeltalk/static /opt/reeltalk/exports /var/run/postgresql
LockPersonality=yes
MemoryDenyWriteExecute=true
PrivateMounts=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=net

[Install]
WantedBy=multi-user.target
