[Unit]
Description=ReelTalk
After=network.target postgresql.service redis.service

[Service]
User=reeltalk
Group=reeltalk
WorkingDirectory=/opt/reeltalk
ExecStart=/opt/reeltalk/venv/bin/gunicorn reeltalk.wsgi:application --bind 0.0.0.0:8000
StandardOutput=journal
StandardError=inherit
ProtectSystem=strict
ProtectHome=tmpfs
InaccessiblePaths=-/media -/mnt -/srv
PrivateTmp=yes
TemporaryFileSystem=/var /run /opt
PrivateUsers=true
PrivateDevices=true
BindReadOnlyPaths=/opt/reeltalk
BindPaths=/opt/reeltalk/images /opt/reeltalk/static /opt/reeltalk/exports /var/run/postgresql
LockPersonality=yes
MemoryDenyWriteExecute=true
PrivateMounts=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=net

[Install]
WantedBy=multi-user.target
