{% extends "snippets/create_status/layout.html" %}
{% load utilities %}
{% load status_display %}
{% load i18n %}

{% comment %}
----- Variables
film: the Film object this status is related to. Required unless the status is a reply
draft: the content of an existing Status object to be edited (used in delete and redraft)
uuid: a unique identifier used to make html "id" attributes unique and clarify javascript controls
{% endcomment %}

{% block pre_content_additions %}
    <div class="field">
        <label class="label" for="id_quote_{{ film.id }}_{{ type }}">
            {% trans "Quote:" %}
        </label>

        <div class="control">
            <textarea
                name="quote"
                class="textarea"
                id="id_quote_{{ film.id }}_{{ type }}"
                placeholder="{% blocktrans with film_title=film.title %}An excerpt from '{{ film_title }}'{% endblocktrans %}"
                required
                {% if not draft %}data-cache-draft="id_quote_{{ film.id }}_{{ type }}"{% endif %}
            >{% firstof draft.raw_quote draft.quote '' %}</textarea>
        </div>
    </div>
{% endblock %}
