{% extends 'components/modal.html' %}
{% load i18n %}
{% load utilities %}

{% block modal-title %}
{% blocktrans trimmed with film_title=film.title %}
Mark "<em>{{ film_title }}</em>" as watched
{% endblocktrans %}
{% endblock %}

{% block modal-form-open %}
<form name="finish-reading-{{ uuid }}" action="{% url 'reading-status' 'finish' film.id %}" method="post" {% if not refresh %}class="submit-status"{% endif %}>
{% csrf_token %}
<input type="hidden" name="user" value="{{ request.user.id }}">
<input type="hidden" name="film" value="{{ film.id }}">
<input type="hidden" name="reading_status" value="read">
<input type="hidden" name="shelf" value="{{ move_from }}">
{% endblock %}

{% block modal-body %}
<fieldset class="mb-3">
    <legend class="label">{% trans "Rating:" %}</legend>
    {% include 'snippets/form_rate_stars.html' with film=film type='finish_modal' default_rating=0 %}
</fieldset>

{% with 0|uuid as local_uuid %}
{% trans "What did you think of the film?" as finish_placeholder %}
<label class="label" for="id_content_finish_{{ film.id }}{{ local_uuid }}">
    {% trans "Review:" %}
    <span class="help mt-0 has-text-weight-normal">{% trans "(Optional)" %}</span>
</label>
<div class="field">
    {% include 'snippets/create_status/content_field.html' with type='finish_modal' optional=True uuid=local_uuid placeholder=finish_placeholder %}
</div>

<div class="field has-addons is-justify-content-end mt-3">
    <div class="control">
        {% include 'snippets/privacy_select.html' with class="is-small" %}
    </div>
</div>
{% endwith %}
{% endblock %}

{% block modal-footer %}
<button class="button is-primary" type="submit">
    <span>{% trans "Mark as watched" %}</span>
</button>
{% endblock %}

{% block modal-form-close %}</form>{% endblock %}
