{% spaceless %}
{% load static %}
{% load film_display_tags %}

{% if film.tmdb_id %}<meta name="DC.Identifier" content="URN:TMDB:{{ film.tmdb_id }}" />{% endif %}
{% if film.imdb_id %}<meta name="DC.Identifier" content="URN:IMDB:{{ film.imdb_id }}" />{% endif %}
<meta name="DC.Type" content="Movie" />
<meta name="DC.Title" content="{{ film.title }}" />
{% if film.subtitle %}
<meta name="DC.Alternative" content="{{ film.subtitle }}" />
{% endif %}
{% if film.year %}
<meta name="DC.Date" content="{{ film.year }}" />
{% endif %}
<meta name="DC.Description" content="{{ film|film_description|striptags }}" />
{% for director in film.directors %}
<meta name="DC.Creator" content="{{ director }}" />
{% endfor %}
{% endspaceless %}
