{% load i18n %}
{% load rating_tags %}
{% load film_display_tags %}
{% load markdown %}
{% load group_tags %}
{% load utilities %}
<div class="card is-stretchable">
    <div class="card-content">
        {% with film=item.film %}
        <div class="columns is-mobile">
            <div class="column is-narrow is-cover">
                <a href="{{ film.local_path }}" aria-hidden="true">
                    {% include 'snippets/film_cover.html' with film=film cover_class='is-w-auto is-h-m-mobile is-h-m-tablet is-align-items-flex-start' size='medium' %}
                </a>
            </div>

            <div class="column">
                <p>
                    <a href="{{ film.local_path }}">{{ film.title }}</a>
                    {% if film.director_text %}
                        <span class="help">({{ film.director_text }})</span>
                    {% endif %}
                </p>
                <p>
                    {% include 'snippets/stars.html' with rating=film|rating:request.user %}
                </p>
                <div>
                    {{ film|film_description|to_markdown|default:""|safe|truncatewords_html:20 }}
                </div>
                {% include 'snippets/shelve_button/shelve_button.html' with film=film %}
            </div>
        </div>
        {% endwith %}
        {% include "lists/list_item_notes.html" with item=item no_trim=True %}

    </div>
    <div class="card-footer is-stacked-mobile has-background-tertiary is-align-items-stretch">
        <div class="card-footer-item has-text-centered">
            <p>
                {% blocktrans trimmed with username=item.user.display_name user_link=item.user|user_link %}
                Added by {{ user_link }}
                {% endblocktrans %}
            </p>
        </div>
        {% if list.user == request.user or list.group|is_member:request.user %}
        <form
            name="set-position-{{ item.id }}"
            method="post"
            action="{% url 'list-set-film-position' item.id %}"
            class="card-footer-item"
        >
            {% csrf_token %}
            <div class="field has-addons mb-0">
                <div class="control">
                    <label for="input_list_position_{{ item.id }}" class="button is-transparent is-small">{% trans "List position" %}</label>
                </div>
                <div class="control">
                    <input id="input_list_position_{{ item.id }}" class="input is-small" type="number" min="1" name="position" value="{{ item.order }}">
                </div>
                <div class="control">
                    <button type="submit" class="button is-info is-small is-tablet">{% trans "Set" %}</button>
                </div>
            </div>
        </form>
        {% endif %}

        {% if item.user == request.user or list.curation == 'open' and item.user == request.user or list.group|is_member:request.user %}
        <form
            name="remove-film-{{ item.id }}"
            method="post"
            action="{{ remove_film_url }}"
            class="card-footer-item"
        >
            {% csrf_token %}
            <input type="hidden" name="item" value="{{ item.id }}">
            <button type="submit" class="button is-small is-danger">{% trans "Remove" %}</button>
        </form>
        {% endif %}
    </div>
</div>
