{% load i18n %}
{% load utilities %}

<form name="suggestion-search" action="{{ search_url }}" method="GET" class="block">
    <div class="field has-addons">
        <p class="control is-expanded">
            <input
                class="input"
                type="text"
                name="{{ query_param }}"
                value="{{ query }}"
                placeholder="{% trans 'Search for films' %}"
            >
        </p>
        <p class="control">
            <button class="button is-primary" type="submit">{% trans "Search" %}</button>
        </p>
    </div>
</form>

{% if suggested_films %}
<div class="block">
    {% for film in suggested_films %}
    <div class="media mb-3">
        <div class="media-left mr-4">
            {% include 'snippets/film_cover.html' with film=film cover_class='is-w-xs is-h-xs' size='small' %}
        </div>
        <div class="media-content">
            <h3 class="subtitle is-6 mb-0">
                <a href="{{ film.local_path }}">{{ film.title }}</a>
            </h3>
            {% if film.director_text %}
            <p class="is-size-7 help">{{ film.director_text }}</p>
            {% endif %}
        </div>
        <div class="media-right">
            <button class="button is-small" data-modal-open="{% join 'add_item' list.id film.id %}">
                {% trans "Add" %}
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
