{% load i18n %}
{% if rating %}

{% blocktrans trimmed with film_title=film.title|safe film_path=film.local_path display_rating=rating|floatformat:"-1" review_title=name|safe count counter=rating %}
Review of "{{ film_title }}" ({{ display_rating }} star): {{ review_title }}
{% plural %}
Review of "{{ film_title }}" ({{ display_rating }} stars): {{ review_title }}
{% endblocktrans %}

{% else %}

{% blocktrans trimmed with film_title=film.title|safe film_path=film.local_path review_title=name|safe %}
Review of "{{ film_title }}": {{ review_title }}
{% endblocktrans %}

{% endif %}
