{% load i18n %}

<script nonce="{{request.csp_nonce}}">

    let localResult = document.querySelector(".local-film-search-result");
    let manuallyAdd = document.querySelector("#tour-manually-add-film");
    const tour = new Shepherd.Tour({
        exitOnEsc: true,
    });

    if (localResult) {
    tour.addStep(
        {
            text: `{% trans "If the film you are looking for is already on this Reeltalk instance, you can click on the title to go to the film's page." %}`,
            title: "{% trans 'Searching' %}",
            attachTo: {
                element: "#tour-local-film-search-result",
                on: "top",
            },
            buttons: [
                {
                    action() {
                        disableGuidedTour(csrf_token);
                        return this.complete();
                    },
                    secondary: true,
                    text: "{% trans 'End Tour' %}",
                    classes: "is-danger guided-tour-cancel-button",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Next' %}",
                },
            ],
        });
    }

    if (manuallyAdd) {
        tour.addSteps([
            {
            text: "{% trans 'If your film is not in the results, try adjusting your search terms.' %}",
            title: "{% trans 'Search again' %}",
            attachTo: {
                element: '#tour-search-page-input',
                on: "right",
            },
            buttons: [
                    {
                        action() {
                            return this.back();
                        },
                        secondary: true,
                        text: "{% trans 'Back' %}",
                    },
                    {
                        action() {
                            return this.next();
                        },
                        text: "{% trans 'Next' %}",
                    },
                ],
            },
            {
            text: `{% trans "If you still can't find your film, you can add a record manually." %}`,
            title: "{% trans 'Add a record manually' %}",
            attachTo: {
                element: "#tour-manually-add-film",
                on: "right",
            },
            scrollTo: true,
            buttons: [
                {
                    action() {
                        return this.back();
                    },
                    secondary: true,
                    text: "{% trans 'Back' %}",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Next' %}",
                },
            ],
        }])
    }

    tour.addStep({
            text: '<p class="notification is-warning is-light mt-3">{% trans "Manually add, or view an existing film to continue the tour." %}<p>',
            title: "{% trans 'Continue the tour' %}",
            buttons: [
                {
                    action() {
                        return this.back();
                    },
                    secondary: true,
                    text: "{% trans 'Back' %}",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Ok' %}",
                },
            ],
        })

    tour.start()
</script>
