{% load i18n %}

<script nonce="{{request.csp_nonce}}">
    const tour = new Shepherd.Tour({
        exitOnEsc: true,
    });

    tour.addSteps([
        {
            text: "{% trans 'This is the page where your films are listed, organised into shelves.' %}",
            title: "{% trans 'Your films' %}",
            buttons: [
                {
                    action() {
                        disableGuidedTour(csrf_token);
                        return this.complete();
                    },
                    secondary: true,
                    text: "{% trans 'End Tour' %}",
                    classes: "is-danger",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Next' %}",
                },
            ],
        },
        {
            text: "{% trans '<strong>Want to Watch</strong> and <strong>Watched</strong> are your shelves. When you change the viewing status of a film it will automatically be moved to the matching shelf. A film can only be on one of them at a time.' %}",
            title: "{% trans 'Status shelves' %}",
            attachTo: {
                element: "#tour-user-shelves",
                on: "bottom-start",
            },
            highlightClass: 'tour-element-highlight',
            buttons: [
                {
                    action() {
                        return this.back();
                    },
                    secondary: true,
                    text: "{% trans 'Back' %}",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Next' %}",
                },
            ],
        },
        {
            text: "{% trans 'If you have an export file from another service, you can import it here.' %}",
            title: "{% trans 'Import from another service' %}",
            attachTo: {
                element: "#tour-import-books",
                on: "left",
            },
            buttons: [
                {
                    action() {
                        return this.back();
                    },
                    secondary: true,
                    text: "{% trans 'Back' %}",
                },
                {
                    action() {
                        return this.next();
                    },
                    text: "{% trans 'Next' %}",
                },
            ],
        },
        {
            text: `{% trans "Now that we've explored film shelves, let's take a look at a related concept: film lists!" %}<p class="notification is-warning is-light mt-3">{% trans "Click on the <strong>Lists</strong> link here to continue the tour." %}`,
            title: "{% trans 'Lists' %}",
            attachTo: {
                element: () => {
                    let menu = document.querySelector('#tour-navbar-start')
                    let display = window.getComputedStyle(menu).display;
                    return display == 'flex' ? '#tour-navbar-start' : '.navbar-burger';
                },
                on: "right",
            },
            highlightClass: 'tour-element-highlight',
            buttons: [
                {
                    action() {
                        return this.back();
                    },
                    secondary: true,
                    text: "{% trans 'Back' %}",
                },
                {
                    action() {
                        this.complete();
                    },
                    text: "{% trans 'Ok' %}"
                },
            ]
        }
    ])

    tour.start()
</script>
