{% load i18n %}{% load utilities %}
{% load status_display %}

{% load_film status as film %}
{% trans "rated" %} <a href="{{ film.local_path }}">{{ film.title }}</a>: {% include 'snippets/stars.html' with rating=status.rating %}
<span
    itemprop="reviewRating"
    itemscope
    itemtype="https://schema.org/Rating"
>
    <span class="is-hidden" {{ rating_type }}>
        <meta itemprop="ratingValue" content="{{ status.rating|floatformat }}">

        <span
            itemprop="reviewRating"
            itemscope
            itemtype="https://schema.org/Rating"
        >
            <span class="is-hidden" {{ rating_type }}>
                <meta itemprop="ratingValue" content="{{ status.rating|floatformat }}">
            </span>
        </span>
    </span>
</span>
