{% spaceless %}
{% load i18n %}
{% load utilities %}
{% load status_display %}

{% load_film status as film %}
{% if film.directors %}
{% with director=film.directors.0 %}
{% trans "finished watching" %} <a href="{{ film.local_path }}">{{ film.title }}</a> {% trans "by" %} <a href="{% url 'search' %}?q={{ director|urlencode }}&type=film">{{ director }}</a>
{% endwith %}
{% else %}
{% trans "finished watching" %} <a href="{{ film.local_path }}">{{ film.title }}</a>
{% endif %}

{% endspaceless %}
