{% extends 'layout.html' %}
{% load shelf_tags %}
{% load utilities %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% include 'user/books_header.html' with shelf=shelf %}
{% endblock %}

{% block opengraph %}
    {% include 'snippets/opengraph.html' with image=user.preview_image %}
{% endblock %}


{% block head_links %}
    <link rel="alternate" type="application/rss+xml" href="{{ request.get_full_path }}/rss" title="{{ user.display_name }} - {{ shelf.name }}" />
{% endblock %}

{% block content %}
<header class="block">
    <h1 class="title">
        {% include 'user/books_header.html' %}
    </h1>
</header>
{% if user.moved_to %}
    {% include "snippets/moved_user_notice.html" with user=user %}
{% else %}
<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'user-feed' user|username %}">{% trans "User profile" %}</a></li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {% include "snippets/translated_shelf_name.html" with shelf=shelf %}
            </a>
        </li>
    </ul>
</nav>

<nav class="block columns is-mobile scroll-x">
    <div class="column pr-0">
        <div class="tabs" id="tour-user-shelves">
            <ul>
                <li class="{% if shelf.identifier == 'all' %}is-active{% endif %}">
                    <a href="{% url 'user-shelves' user|username %}"{% if shelf.identifier == 'all' %} aria-current="page"{% endif %}>
                        {% trans "All films" %}
                    </a>
                </li>
                {% for shelf_tab in shelf_tabs %}
                <li class="{% if shelf_tab.identifier == shelf.identifier %}is-active{% endif %}">
                    <a
                        href="{{ shelf_tab.local_path }}"
                        {% if shelf_tab.identifier == shelf.identifier %} aria-current="page"{% endif %}
                    >
                        {% include "snippets/translated_shelf_name.html" with shelf=shelf_tab %}
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="block columns is-mobile">
        <div class="column">
            <h2 class="title is-3">
                {% if shelf.identifier == 'to-read' %}{% trans "Want to Watch" %}
                {% elif shelf.identifier == 'read' %}{% trans "Watched" %}
                {% else %}{{ shelf.name }}{% endif %}
                <span class="subtitle">
                    {% include 'snippets/privacy-icons.html' with item=shelf %}
                </span>
                {% with count=films.paginator.count %}
                {% if count %}
                <span class="help">
                    {% blocktrans trimmed count counter=count with formatted_count=count|intcomma %}
                        {{ formatted_count }} film
                    {% plural %}
                        {{ formatted_count }} films
                    {% endblocktrans %}
                    {% if films.has_other_pages %}
                        {% blocktrans trimmed with start=films.start_index end=films.end_index %}
                        (showing {{ start }}-{{ end }})
                        {% endblocktrans %}
                    {% endif %}
                </span>
                {% endif %}
                {% endwith %}
            </h2>
            {% include 'shelf/shelves_filters.html' with user=user query=query %}

        </div>
    </div>
    {% if shelf.description %}
    <p>{{ shelf.description }}</p>
    {% endif %}
</div>

<div class="block">
    <div>
        {% if films|length > 0 %}
        <table class="table is-striped is-fullwidth is-mobile">
            <thead>
                <tr>
                    <th>{% trans "Cover"%}</th>
                    <th>{% trans "Title"  as text %}{% include 'snippets/table-sort-header.html' with field="sort_title" sort=sort text=text %}</th>
                    <th>{% trans "Director"  as text %}{% include 'snippets/table-sort-header.html' with field="director" sort=sort text=text %}</th>
                    {% if request.user.is_authenticated %}
                        {% if is_self %}
                    <th>{% trans "Shelved"  as text %}{% include 'snippets/table-sort-header.html' with field="shelved_date" sort=sort text=text %}</th>
                        {% endif %}
                    <th>{% trans "Rating" as text %}{% include 'snippets/table-sort-header.html' with field="rating" sort=sort text=text %}</th>
                    {% endif %}
                    {% if shelf.user == request.user %}
                    <th aria-hidden="true"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                {% spaceless %}
                <tr class="film-preview">
                    <td class="film-preview-top-row">
                        <a href="{{ film.local_path }}">{% include 'snippets/film_cover.html' with film=film cover_class='is-w-s-tablet is-h-s' size='small' %}</a>
                    </td>
                    <td data-title="{% trans "Title" %}">
                        <a href="{{ film.local_path }}">{{ film.title }}</a>
                    </td>
                    <td data-title="{% trans "Director" %}">
                        {{ film.director_text }}
                    </td>
                    {% if request.user.is_authenticated %}
                        {% if is_self %}
                    <td data-title="{% trans "Shelved" %}" class="nowrap-date-whitespace">
                        {{ film.shelved_date|naturalday }}
                    </td>
                        {% endif %}
                    <td data-title="{% trans "Rating" %}">
                        {% include 'snippets/stars.html' with rating=film.rating %}
                    </td>
                    {% endif %}
                    {% if shelf.user == request.user %}
                    <td class="film-preview-top-row has-text-right">
                        {% with right=True %}
                        {% if not shelf.id %}
                        {% active_shelf film as current %}
                        {% include 'snippets/shelf_selector.html' with current=current.shelf class="is-small" %}
                        {% else %}
                        {% include 'snippets/shelf_selector.html' with current=shelf class="is-small" %}
                        {% endif %}
                        {% endwith %}
                    </td>
                    {% endif %}
                </tr>
                {% endspaceless %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            <em>
                {% if shelves_filter_query %}
                    {% blocktrans trimmed %}
                        We couldn't find any films that matched {{ shelves_filter_query }}
                    {% endblocktrans %}
                {% else %}
                    {% trans "This shelf is empty." %}
                {% endif %}
            </em>
        </p>
        {% endif %}

    </div>
</div>
<div>
    {% include 'snippets/pagination.html' with page=films path=request.path %}
</div>
{% endif %}
{% endblock %}
