{% extends 'landing/layout.html' %}
{% load i18n %}
{% load cache %}
{% load landing_page_tags %}

{% block panel %}
{% if not require_login_nearly_everywhere %}
<div class="block is-hidden-tablet">
    <h2 class="title has-text-centered">{% trans "Recent Films" %}</h2>
</div>

{% get_current_language as LANGUAGE_CODE %}
{# 1 hour cache #}
{% cache 3600 landing LANGUAGE_CODE %}
{% get_landing_films as films %}
<section class="columns is-multiline is-mobile">
    {% for film in films %}
    <div class="column is-one-fifth-tablet is-half-mobile">
        <a href="{{ film.local_path }}">
            {% include 'snippets/film_cover.html' with film=film size='xxlarge' %}
        </a>
    </div>
    {% endfor %}
</section>
{% endcache %}
{% endif %}
{% endblock %}
