{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Updates" %}{% endblock %}

{% block content %}
<div class="columns">
    {% if user.is_authenticated %}
    <div class="column is-one-third pr-5">
        {% include "feed/suggested_books.html" %}
    </div>
    {% endif %}

    <div class="column is-two-thirds" id="feed">
        {% block panel %}{% endblock %}

        {% if activities %}
        {% include 'snippets/pagination.html' with page=activities path=path anchor="#feed" mode="chronological" %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}

